@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: A4;
    margin: 25mm 25mm 20mm 25mm; 
    
    @top-center {
        content: asdf;
    }
}

/* @media print {
    html, body{
        width: 21cm;
        height: 29.7cm;
    }
} */
