@tailwind base;
@tailwind components;
@tailwind utilities;

/* @page {
    size: A4;
    margin: 25mm 25mm 20mm 25mm; 
    
    @top-center {
        content: asdf;
    }
} */

/* @media print {
    html, body{
        width: 21cm;
        height: 29.7cm;
    }
} */

@media print {
    .grid-item {
        position: unset !important;
        transform: unset !important;
        margin: 10px;
        display: inline-block;
    }
    .grid-item {
            page-break-inside: avoid;
            break-inside: avoid;
    }
    
    .grid-layout {
        height: unset !important;
        display: table;
    }
}